* {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
.foto {
	width: 200px;
    height: 250px;
    margin-left: 80%;
    margin-top: -80px;
}

h1 {
	font-weight: bolder;
	font-size: 35px;
}

span {
	margin-left: 40px;
}

.desc{
	width: 80%;
	margin-bottom: -120px;
}

h3 {
	font-style: italic;
	color: lightgreen;
	text-decoration: underline wavy;
}

ul{ 
  list-style-type: none;
}

li{
	font-style: italic;
}

.footer{
    text-align: center;
}
